###> symfony/framework-bundle ###
APP_ENV=dev
APP_SECRET=b9de60710a9ce42fc45a4f134673e497

CELLAR_DIR=/home/pi/cellar
SENSOR_SCRIPT=/home/pi/cellar/src/Python/dht.py

RRDTOOL_BIN=/usr/bin/rrdtool

SCREEN=1
SCREEN_ORIENTATION=90

SERVER_API_ENDPOINT=http://cellar.arbey.fr/api/
WEBSOCKET_SERVER_HOST=cellar.arbey.fr/ws
DB_ID=1

CHROMECAST_IP=192.168.1.32
CHROMECAST_PORT=8009

###< symfony/framework-bundle ###

###> doctrine/doctrine-bundle ###
# Format described at http://docs.doctrine-project.org/projects/doctrine-dbal/en/latest/reference/configuration.html#connecting-using-a-url
# For an SQLite database, use: "sqlite:///%kernel.project_dir%/var/data.db"
# Configure your db driver and server_version in config/packages/doctrine.yaml
DATABASE_URL=sqlite:///%kernel.project_dir%/var/data.db
###< doctrine/doctrine-bundle ###