{% extends 'base.html.twig' %}

{% block body %}

	<div class="row">
        <img src="/cellar.png" />
	</div>

{% endblock %}

{% block javascripts %}
	<script type="text/javascript">

	</script>
{% endblock %}