{% extends 'base.html.twig' %}

{% block body %}

	<div class="row">
        <img src="/cellar.png" />
		<div id="sensor_1" style="position: absolute; top: 430px; left: 750px;"></div>
		<div id="sensor_2" style="position: absolute; top: 700px; left: 750px;"></div>
		<div id="sensor_3" style="position: absolute; top: 280px; left: 775px;"></div>
		<div id="sensor_7" style="position: absolute; top: 630px; left: 130px;"></div>
		<div id="sensor_8" style="position: absolute; top: 70px;  left: 420px;"></div>
		<div id="sensor_9" style="position: absolute; top: 170px; left: 580px;"></div>
	</div>

{% endblock %}

{% block javascripts %}
	<script type="text/javascript">
		var ws;
		(function () {
			'use strict';

			var _receiver = document.getElementById('ws-content-receiver');
			ws = new WebSocket('wss://{{ ws_url }}');

			ws.onopen = function () {
				//_receiver.innerHTML = 'Connected !';
			};

			ws.onmessage = function (event) {
				try {
					var sensor_raw_data = JSON.parse(event.data);
					console.log(sensor_raw_data);

					for(var k in sensor_raw_data.sensor_data) {
						const sensor_data = sensor_raw_data.sensor_data[k];
						const sid = sensor_data.sensor.id;

						const temp = Math.round(sensor_data.temperature * 10) / 10;
						const humi = Math.round(sensor_data.humidity * 10) / 10;
						$('#sensor_' + sid).html(temp + "°C<br />" + humi + "%");
					}
				} catch (error) {
					console.log(error);
				}
			};

			ws.onclose = function () {
			};

			ws.onerror = function () {
			};
		})();
	</script>
{% endblock %}