<!DOCTYPE html>
<html>
<head>
    <title>Cellar</title>
    <style type="text/css">
        html {
            height: 100%;
            padding: 0;
            width: 100%;
        }

        body {
            overflow: hidden;
            height: 100%;
            padding: 0;
            margin: 0;
            background: black url("/logo.png") no-repeat 50% 50%;
        }

        #main {
            height: 100%;
            background: black url("/logo.png") no-repeat 50% 50%;
            opacity: 0;
            transition: opacity 4s ease;
        }

        #main, iframe {
            background: black url("/logo.png") no-repeat 50% 50%;
        }

        #main.show {
            opacity: 1;
        }

        #status {
            transition: opacity 1s;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            color: #555;
            font-weight: bold;
            height: 1.2em;
            text-align: center;
            padding: 10px;
            background: rgba(32, 27, 37, 0.9);
            z-index: 10;
        }

        #status.empty {
            opacity: 0;
        }

        iframe {
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            opacity: 0;
            transition: opacity 0;
            width: 100%;
            height: 100%;
            border: 0 transparent;
        }

        iframe.show {
            transition: opacity 1s;
            opacity: 1;
        }

    </style>
</head>
<body id="dcast">

    <cast-media-player id="player"></cast-media-player>

    <div id="main" class="fade">
        <iframe id="if1"></iframe>
    </div>
    <div id="status" class="empty">
    </div>

    <script type="text/javascript" src="//www.gstatic.com/cast/sdk/libs/caf_receiver/v3/cast_receiver_framework.js">
    </script>
    <script>
        var reload_time = 0;
        var timer_id = null;

        window.onload = function () {
            var main = document.getElementById('main');
            var status = document.getElementById('status');

            var if1 = document.getElementById('if1');

            main.classList.add('show');

            function setStatus(msg) {
                if (msg) {
                    status.classList.remove('empty');
                }
                else {
                    status.classList.add('empty');
                }
                status.textContent = msg;
            }

            if1.onload = function (e) {
                setStatus('');
            };

            function loadFrame(url) {
                setStatus('Loading: ' + url);
                if1.src = url;
            }

            const context = cast.framework.CastReceiverContext.getInstance();
            const playerManager = context.getPlayerManager();

            playerManager.addEventListener(cast.framework.events.EventType.ALL, function (event) {
                console.log(event.type, event);
            });

            const CUSTOM_CHANNEL = 'urn:x-cast:fr.cellar.arbey.cast';
            context.addCustomMessageListener(CUSTOM_CHANNEL, function (event) {
                url = event.data.url;
                setStatus('Loading: ' + url);
                if1.src = url;
                context.sendCustomMessage(CUSTOM_CHANNEL, event.senderId, event.data);
            });

            context.start({statusText: 'Application is starting'});
        };
    </script>
</body>
</html>